<div id="main">
    <div class="palm-page-header multi-line">
        <div id="main-header" class="palm-page-header-wrapper">
             Mensaplan Bielefeld
        </div>
    </div>
    <div id="main-body" class="itemFull">
		<div class="palm-list">
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="mensaSelector" x-mojo-element="ListSelector"></div>   
				</div>
			</div>
		</div>
		<div x-mojo-element="List" id="menuList"></div>
    </div>
</div>